body {
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: #F0F4F8;
	font-family: tahoma;
	font-size: 15px;
}
h1 {
	text-align: center;
}
p {
	text-align: center;
	margin-top: -0.5rem;
	margin-bottom: 3rem;
}
form {
	margin: 0 auto;
	max-width: 700px;
	min-width: 300px;
	width: 60vw;
	padding: 0.5rem 2rem 0.5rem 2rem;
	background-color: #FFFFFF;
}
label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	color: #4A4A4A;
}
label[for="comment"], label[for="role"] {
	margin-top: -1rem;

}
input, textarea, select {
	font-size: 1rem;
	color: #4A4A4A;
	width: 100%;
	min-height: 2rem;
}
input[type="text"], input[type="email"] {
	margin-bottom: 1rem;

}
input[type="text"], input[type="email"], input[type="number"] {
	margin-top: 0.5rem;
}

.inline1, .inline2 {
	width: unset;
	vertical-align: middle;
	margin: 0 0.5rem 0 0;
}
input[type="radio"], input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
  }

fieldset {
	border: none;
	margin-top: 1rem;
}

input[type="submit"] {
	width: 60%;
	display: block;
	margin: 1rem auto;
	font-size: 1rem;
	
}