body {
	width: 100%;
	height: 100vh;
	margin: 0;
	font-family: Tahoma;
	background-color: #EFEFEF;
}
#title {
	text-align: center;
	font-family: Tahoma;
	margin: 1em auto;
}
#description {
	text-align: center;
	font-style: italic;
	
	
}

form {
	max-width: 500px;
	min-width: 300px;
	width: 60vw;
	margin: 0 auto;
	padding: 20px;
	border: 3px solid black;
	background-color: #FDFDFD;
	

}

label {
	display: block;
	margin: 0.5rem 0;
	color: #555555;
	
}

input, textarea, select {
	width: 100%;
	min-height: 2em;
	margin: 10px 0 0 0;
	
}
.inline {
	vertical-align: middle;
	width: unset;
	margin: 0 0.5em 0 0;

}
.inline1 {
	vertical-align: middle;
	width: unset;
	margin: 0 0.5em 0 0;
}
fieldset {
	border: none;
	margin: 2rem 0;
	margin-top: -20px
}
fieldset:last-of-type {
	border-bottom: none;
}
input[type="submit"] {
	display: block;
	margin: 2em auto;
	height: 2em;
	width: 60%;
	min-width: 300px;
	color: white;
	font-size: 1em;
	background-color: #28A745;
	margin-bottom: -10px;
}
input[type="submit"]:hover {
	
	background-color: #218838;
}
